@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.text-clouds {
  color: #ecf0f1 !important;
}

.text-white {
  color: white !important;
}

.text-dark {
  color: #2c3e50;
}

.primary-green {
  background-color: #166e6c;
}

.secoundary-green {
  background-color: #04a7a2 !important;
  color: white;
}

.text-secoundary-green {
  color:#04a7a2;
}

h1,
h2,
h3 {
  font-family: "Montserrat";
  margin-bottom: 10px;
}

p,
a,
span {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  p {
    max-width: 90%;
    margin: 0 auto;
  }
}

.feature-img {
  width: 200px;
}

.nav-item,
.navbar-link {
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: opacity 1s ease;
  opacity: 0.8;
}

.nav-item:hover {
  opacity: 1;
  color: #1e4132 !important;
  text-decoration: none;
}

.section .container,
.hero .hero-body,
.hero .hero-head {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

nav {
  padding-top: 20px;
  max-height: 50px;
}

.burger {
  position: absolute !important;
  top: 0;
  right: 0;
}

.paragraph {
  width: 600px;
  line-height: 1.5em;
}

@media (min-width: 1024px) {
  .hero-body p {
    width: 600px;
  }

  #home {
    background-image: url(../img/greenlib.png);
    background-size: 20%;
    background-position: 80% 50%;
    background-repeat: no-repeat;
  }

  #product {
    background-image: url(../img/greenlib.png);
    background-size: 20%;
    background-position: 80% 50%;
    background-repeat: no-repeat;
  }

  #team {
    background-image: url(../img/TeamIcon.png);
    background-size: 20%;
    background-position: 95% 50%;
    background-repeat: no-repeat;
  }

  #impressum {
    background-image: url(../img/conctract.png);
    background-size: 15%;
    background-position: 95% 50%;
    background-repeat: no-repeat;
  }
  #faq {
    background-image: url(../img/FAQIcon.png);
    background-size: 20%;
    background-position: 95% 50%;
    background-repeat: no-repeat;
  }
}

.btn {
  margin-top: 20px;
  border-radius: 50px;
  border: none;
  padding: 10px 30px;
  transition: opacity 1s ease;
  opacity: 1;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.feature-img {
  margin: 0 auto;
}

.column {
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}

.noflex-flow {
  flex-flow: unset;
}

.column h3,
.column p {
  align-self: center;
}

@media (max-width: 1024px) {
  .reverse-row-order {
    flex-direction: column-reverse;
    display: flex;
  }
}

#footer p {
  padding: 20px;
}

#footer a {
  color: #ffffff;
}

#footer a:hover {
  color: #95a5a6;
  text-decoration: none;
}

#footer li,
h2 {
  text-align: left;
}

.news {
  position: relative;
  overflow: hidden;
  margin: 10px auto;
  width: 100%;
  color: #333;
  text-align: left;
}
.news * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.news blockquote {
  margin: 0;
  display: block;
  border-radius: 8px;
  position: relative;
  padding: 30px 50px 65px;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 0 -40px;
  line-height: 1.6em;
}
.news blockquote:before,
.news blockquote:after {
  font-family: "font awesome 5 free";
  content: "\f10d";
  font-weight: 900;
  position: absolute;
  font-size: 20px;
  opacity: 0.3;
  font-style: normal;
  display: none;
}
.news blockquote:before {
  top: 35px;
  left: 20px;
}
.news blockquote:after {
  content: "\f10e";
  right: 20px;
  bottom: 35px;
}
.has-padding-top-50 {
  padding-top: 50px !important;
}
